# How to turn on/off double verification?

To turn on double verification, you need to first set a payment password and bind an email. With this mode on, any operation related to assets requires the verification of the payment password and email verification code.

Turn on double verification:  
Before turning it on, please set the payment password and bind the email. When finished, click the button to turn it on.



![](../../.gitbook/assets/image%20%28263%29.png)

![](../../.gitbook/assets/image%20%2882%29.png)

![](../../.gitbook/assets/image%20%2814%29.png)

Turn off double verification:  
Click the button to verify the payment password and email verification code.

![](../../.gitbook/assets/image%20%28263%29.png)

![](../../.gitbook/assets/image%20%2882%29.png)

